.Special{border:solid 2px greenyellow;
    color:red
}
.ss{
    background-color: aquamarine;
}
 .org{
    padding-bottom: 10cqb;
    margin-bottom: auto;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
