<div>
    <input type="text" placeholder="Enter UserName" [(ngModel)]="name" />

    <button (click)="getUserData()">Add</button>
</div>
<div *ngIf="userdetails">
    <table >
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Comapany</th>
            <th>Bio</th>
        </tr>
        <tr *ngFor="let k of s">
            <td>{{k.name}}</td>
            <td> <img src="{{k.avatar_url}}" width="50" height="50"></td>
            <td>{{k.company}}</td>
            <td>{{k.bio}}</td>
        <tr>
    </table>
</div>

